<!DOCTYPE html>
<html>
<head>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" 
rel="stylesheet">
<link rel="stylesheet" href="./static/dist/css/style.css">
<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<title>Index</title>
</head>
<body>
        <div class="top-nav primary-bg">
                <a class="logo left" href="#" title="logo">
                        <img src="..." alt="ultimate cybervision logo">
           
             </a>
             <div class="right">
                <ul class="top-contact">
                       <!-- <li class="list-item top-nav-menu"><i class="fa-brands fa-whatsapp"></i>+2341209876</li>-->
                        <li class="list-item top-nav-menu"><i class="fa-solid fa-envelope"></i>info@example.com</li>
                        <li class="list-item top-nav-menu"><i class="fa-solid fa-phone"></i>+234809765345</li>
                </ul>
<ul class="top-social">
        <li class="list-item top-nav-menu"><i class="fa-brands fa-linkedin-in"></i></li>
        <li class="list-item top-nav-menu"><i class="fa-brands fa-twitter"></i></li>
        <li class="list-item top-nav-menu"><i class="fa-brands fa-facebook-f"></i></li>
        <li class="list-item top-nav-menu"><i class="fa-brands fa-whatsapp"></i></li> 

</ul>

</div>
        </div>
<div class="main-nav">
        <div class="right">
        <ul class="nav-menu">
                <li class="list-item"><a href="#" class="link">Home</a></li>
                <li class="list-item"><a href="#" class="link">About</a></li>
                <li class="list-item"><a href="#" class="link">Blog</a></li>
                  <li class="list-item"><a href="#" class="link">Contact</a></li>
                </div>
        </ul>
        <div class="drop-down">
                <li class="list-item">Services &#8964;</li>
                <div class="drop-down-container">
                        <li class="list-item"><a href="#" class="drop-down-link"> Mobile App Development</a></li>
                        <li class="list-item"><a href="#" class="drop-down-link"> Website Development</a></li>
                        <li class="list-item"><a href="#" class="drop-down-link"> SEO </a></li>

                        <li class="list-item"><a href="#"  class="drop-down-link"> Articifial Inteligent (AI) </a></li>
                        <li class="list-item"><a href="#" class="drop-down-link"> Blockchain</a></li>
                        <li class="list-item"><a href="#" class="drop-down-link"> IT Consultancy</a></li>
                </div>
                <a href="#" class="cta-btn">Get a Quote</a>
        </div>
</div>

<div class="hero-header">
        <div class="hero-text-container">
                <h1> We a Proficient at <span class="typed-text"></span>
                        <span class="cursor">&nbsp;</span></h1>
                <a href="#" class="hero-cta">Let's Work on Your Project</a>
        </div>
        <div class="img-banner">
                <img src="..." alt="">
        </div>
</div>
<script src="./static/js/src/animate.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
        AOS.init();
        </script>
        </body>
</html>