<!DOCTYPE html>
<html>
<head>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" 
rel="stylesheet">
<link rel="stylesheet" href="./static/css/style.css">
<link rel="stylesheet" href="./static/css/mobile.css">

<!-- HTML in your document's head -->
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<title>Index</title>
</head>
<body>
        <div class="nav-bar top-bar">
     <div class="right-item">
        <ul class="top-nav-menu">
        <li class="nav-list inline-block ">
                <a href="#" class="top-link" contact us on whatsapp><i class="fa-brands fa-whatsapp"></i>
                080-11-2345-678</a></li>
        <li class="nav-list inline-block ">
                <a href="#" class="top-link" title="send us an email"><i class="fa-regular fa-envelope">

                </i>
         mail@example.com</a></li>
        </ul>
</div>
   </div>
   <div class="main-nav">
        <div class="nav-item">
                <a class="logo" href="#">
                        <img srcset="..." alt="">
                </a>
                <ul class="main-nav-link">
                        <li class="nav-list inline-block"><a href="#">Home</a></li>
                        <li class="nav-list inline-block"><a href="#">About</a></li>
                        <li class="nav-list inline-block"><a href="#">Blog</a></li>
                        <li class="nav-list inline-block"><a href="#">contact</a></li>
                       

                </ul>
                <div class="drop-down">
                        Our Services <i class="fa-solid fa-angle-down"></i>
                        <ul class="drop-down-list">
                                <li class="nav-list block"><a href="#">Website Development</a></li>
                                <li class="nav-list block"><a href="#">Mobile App</a></li>
                                <li class="nav-list block"><a href="#">Blockchain Solution</a></li>
                                <li class="nav-list block"><a href="#">SEO</a></li>
                                <li class="nav-list block"><a href="#">AI</a></li>
                                <li class="nav-list block"><a href="#">Digital Marketing</a></li>
                        </ul>
                   </div>

   </div>
       
   </div>
   <div class="hero-image">
        <div class="hero-conatianer">
                <h1 class="typing">
                        Experience the Revolution: Unleashing Cutting-Edge <span class="typed-text"></span>
                        <span class="cursor">&nbsp;</span>    
                </h1>
                <ul class="cta">
             <li class="inline-block">  <a href="#" class="main-cta">Let's Start A Project</a></li> 
             <li class="inline-block">    <button class="play-btn"> <i class="fa-solid fa-play"></i> Watch Video </button> </div> 

             </ul>
        </div>

   </div>
<script src="./static/js/src/animate.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
        AOS.init();
        </script>
        </body>
</html>