@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
    font-size: 16px;
  }
}
/**mixins*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #ebebeb;
  height: 100%;
  width: auto;
}

/**nav bar*/
.nav-bar {
  width: 100%;
}

.top-bar {
  height: 50px;
  position: relative;
}

.left-item {
  position: absolute;
  left: 2rem;
}

.right-item {
  position: absolute;
  right: 2rem;
}

.inline-block, .drop-down {
  display: inline-block;
}

.block {
  display: block;
}

.logo a {
  padding: 16px 12px;
}

.nav-list, .drop-down {
  list-style: none;
  padding: 16px 12px;
}

.top-link {
  text-decoration: none;
  font-size: 16px;
  color: #0f0f0f;
}
.top-link i {
  color: rgb(8, 64, 248);
}

.top-link:hover {
  color: rgb(4, 86, 148);
}

.container {
  margin-left: 2rem;
  margin-top: 2rem;
}

.title {
  margin: 0 auto;
}
.title h1 {
  font-size: 2em;
}

.center {
  text-align: center;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 1rem;
}

/**Main nav**/
.main-nav {
  background-color: rgb(4, 86, 148);
  color: white;
  height: 60px;
}

.nav-item {
  display: inline-flex;
  margin-left: 2rem;
}

.logo .main-nav-link {
  padding-left: 2rem;
}

.main-nav-link li {
  padding: 16px 12px;
}
.main-nav-link a {
  text-decoration: none;
  color: #ebebeb;
}

.drop-down-list {
  display: none;
}

.drop-down:hover .drop-down-list {
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 5px;
  display: block;
  position: relative;
  bottom: -5px;
  overflow: hidden;
  z-index: 999;
}
.drop-down:hover .drop-down-list li {
  border-bottom: 1px solid #E4E8F0;
}
.drop-down:hover .drop-down-list a {
  text-decoration: none;
  color: #0f0f0f;
  padding: 12px 16px;
}
.drop-down:hover .drop-down-list a:hover {
  color: rgb(4, 86, 148);
}

.drop-down-list li:last-child {
  border-bottom: none !important;
}

.hero-image {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.hero-conatianer {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
}
.hero-conatianer h1 {
  text-align: center;
  color: #E4E8F0;
  font-size: 3.5em;
}

.hero-conatianer h1 span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

.hero-conatianer h1 span.cursor.typing {
  animation: none;
}

.cta {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
.cta a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(8, 64, 248);
  cursor: pointer;
  border-radius: 30px;
}
.cta button {
  color: #E4E8F0;
  font-weight: bold;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  font-size: 16px;
}

/**
bottom menu for mobile nav
*/
.bottom-nav {
  display: none;
}

/*Services */
.services {
  padding-top: 50px;
}

.service-item {
  font-family: "Montserrat", sans-serif;
  height: 250px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* h2 > *{
     @include typeface();
   }*/
}
.service-item h2 {
  text-align: center;
  color: #020f2a;
  padding: 8px 12px;
}
.service-item p {
  color: #0f0f0f;
  line-height: 32px;
  font-size: 16px;
}
.service-item a, .service-item p {
  text-align: center !important;
  font-family: "Montserrat", sans-serif;
}

.read-more {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Montserrat", sans-serif;
}

/** Animation rules*/
@keyframes drop-down {
  to {
    display: block;
  }
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
/*All mobile screen*/
@media screen and (max-width: 844px) {
  .bottom-nav {
    background-color: #020f2a;
    color: #E4E8F0;
    display: block;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .top-bar {
    display: none;
  }
  .hero-conatianer {
    top: 20%;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    left: 0;
    right: 0;
  }
  .hero-conatianer h1 {
    font-size: 2em;
    line-height: 2.5rem;
  }
  .hero-conatianer span.typed-text::before {
    content: "\a";
    white-space: pre;
  }
  .main-nav-link, .drop-down {
    display: none;
  }
  .main-cta {
    text-align: center;
  }
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .services {
    padding-top: 10px;
  }
  .service-item {
    margin-bottom: 20px;
  }
  .grid-col-3 {
    display: block;
    grid-template-columns: repeat(1, auto);
    gap: 5px;
  }
}

/*# sourceMappingURL=mobile.css.map */
