@import "style";
/*All mobile screen*/
@media screen and (max-width:844px){
.bottom-nav{
@include secondary-bg();
display: block;
position: fixed;
bottom:0;
height: 50px;
width: 100%;
}
}
@media screen and (max-width:767px){
    .top-bar{
        display: none;
    }
    .hero-conatianer{
        top:20%;
        width: 100%;
        margin:0 auto;
        flex-wrap: wrap;
        left: 0;
        h1{
            font-size: 2em;
            line-height: 2.5rem;
        }
       span.typed-text::before{
        content: "\a";
    white-space: pre;
       }

    }
    .main-nav-link, .drop-down{
        display: none;
    }
    .main-cta{
        text-align: center;
    }
}