
$main-color:#E4E8F0;
$tetiary-color:#03122B;
$primary-color:rgb(4, 86, 148);
$secondary-color: #020f2a;
$text-color: #0f0f0f;
$header-size: 2.5em;
$margin-val: 30px;
$default-font-size:16px;
$default-line-height: 32px;
$card-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$margin: 30px;
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; 
    font-size: $default-font-size;

  }

}


/** Animation rules*/
@keyframes drop-down {
  to{
    display: block;
  }
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}